html 
    head 
        link(rel='stylesheet', type='text/css', href='/static/css/style.css')
        link(rel='icon', type='image/x-icon', href='/static/img/favicon.ico')
        title #{user}'s Account
    body 
        div#navbar
            a#logo(href='/')
                img(src='/static/img/logo.png', width=60, height=40)
            div#navbar-right
                a(href='/') Home
                a(href='/games') Games
                a.active(href='/accountPage') Your Account
        div#content
            h1 #{user}'s Account
            if isAdmin 
                p Welcome #{user}! Select the Games tab to add games and moderate the discussion! Select the Users tab to manage Users!
                p Select an option below to manage your account or logout.
            else
                p Welcome #{user}! Select the Games tab to view games and start discussing with other users!
                p Select an option below to manage your account or logout.
            if isAdmin
                button 
                    a(class="button buttonTheme" href='/users') Manage Users
                br
                br
            button 
                a(class="button buttonTheme" href='/editAccount?user=' + user) Edit Account    
            br
            br
            if !isAdmin
                button 
                    a(class="button buttonTheme" href='/deleteAccount') Delete Account    
                br
                br
            button 
                a(class="button buttonTheme" href='/logout') Logout