html 
    head 
        link(rel='stylesheet', type='text/css', href='/static/css/style.css')
        link(rel='icon', type='image/x-icon', href='/static/img/favicon.ico')
        title=title 
    body 
        div#navbar
            a#logo(href='/')
                img(src='/static/img/logo.png', width=60, height=40)
            div#navbar-right
                a(href='/') Home
                a.active(href='/games') Games
                if loggedIn
                    a(href='/accountPage') Your Account
                else 
                    a(href='/login') Login
        div#content
            h1 Delete #{result.name}
            p Are you sure want to delete #{result.name}? This cannot be undone!

            button 
                a(class="button buttonTheme" href='/games') Back to Games 
            br
            br
            form(method="post")
                input(type="submit" name="submit" value="Delete Game")