html 
    head 
        link(rel='stylesheet', type='text/css', href='/static/css/style.css')
        link(rel='icon', type='image/x-icon', href='/static/img/favicon.ico')
        title=title 
    body 
        div#navbar
            a#logo(href='/')
                img(src='/static/img/logo.png', width=60, height=40)
            div#navbar-right
                a.active(href='/') Home
                a(href='/games') Games 
                if loggedIn
                    a(href='/accountPage') Your Account
                else 
                    a(href='/login') Login
        div#content
            h1 Games Database
            p This site acts as a way to track the games I have played during 2024, including thoughts and overview of the games.
            img(src='static/img/game.jpg', width=540, height=360)